{
  "apps/api/src/**/*.ts": ["prettier --write"],
  "apps/api/test/**/*.ts": ["prettier --write"],
  "apps/web/src/**/*.{ts,tsx}": ["prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}
